
<!-- Banner -->
<div id="banner">
  <div  class="container header-container" >
    <div >
      <div class="row">
        <div class="col-md-12">
          <!--Logo-->
          <div class="text-center" style="margin: 150px 20px">
            <h1 style="font-size: 58px">
              <strong> Buy and sell tickets to your favorite events from the people you trust the most: your friends.</strong>
            </h1>

            <!--<div >-->

              <!--<span style="font-size: 18px">-->
                <!--List your tickets on the marketplace for your friends to see.-->
              <!--</span>-->
            <!--</div>-->

          </div>
          <section  >
            <div class="container">
              <div class="text-center">
                <a routerLink="/signup" routerLinkActive="active"> List your tickets on the marketplace for your friends to see.</a>
              </div>
            </div>
          </section>
          <section  >
            <div class="container">
              <div class="text-center">
                <a routerLink="/signup" routerLinkActive="active"> Browse the marketplace to see which if your friends are selling the tickets you want.
                </a>
              </div>
            </div>
          </section>
          <section  >
            <div class="container">
              <div class="text-center">
                <a routerLink="/signup" routerLinkActive="active"> Build your transaction reputation by leaving reviews after exchanging tickets with any buyer/seller.</a>
              </div>
            </div>
          </section>
        </div>
      </div>

    </div>
  </div>

</div>
<div class="row" style="height: 10px"></div>
