<div class="row ">
  <div class="jumbotron col-md-6 offset-md-3">

    <div class="text-center">
      <h2>Reset your password</h2>
      <hr>
    </div>


    <form *ngIf="!sendOK"  class="form form-horizontal" #userForm="ngForm"
          (ngSubmit)="send()">
      <div class="row justify-content-center align-items-center text-center">


        <div class="col-10"
             [class.has-error]="username.invalid && username.touched">
          <label style="color: #4543a7;font-size: 17px;">
            Enter your email address and we will send you a link to reset your password.</label>
        </div>

        <div class="col-8 my-5" >
          <input type="email" class="form-control"
                 name="username" required email [(ngModel)]="credentials.username"
                 #username="ngModel">
          <label class="control-label" *ngIf="username.errors && username?.errors.required && username.touched">
            <i class="fa fa-times-circle-o"></i> Email is required
          </label>
          <label class="control-label" *ngIf="username.errors && username?.errors.email && username.touched">
            <i class="fa fa-times-circle-o"></i> Email is not valid
          </label>
        </div>

        <div class="col-8">
          <button [disabled]=" userForm.invalid"
                  class="btn btn-primary btn-submit" type="submit">
                  <span><i [ngClass]="isLoading  ? 'fa fa-gear fa-spin':'fa '"></i>
                    Send password reset email
                  </span>
          </button>
        </div>


      </div>

    </form>

    <div *ngIf="sendOK" class="row justify-content-center align-items-center text-center">

      <label style="margin: 0 40px 30px 40px;color: #4543a7;font-size: 17px;">
        Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your
        spam folder.
      </label>

      <button routerLink="/signin"
              class="btn btn-primary btn-submit">
        Return to sign in
      </button>
    </div>



  </div>
</div>
