<!-- main app container -->
<div class="">
  <div class="container">
    <div class="row">
      <div class="jumbotron col-md-6 offset-md-3">
        <h2 style="color: #307b52">
          Log in
          <h5 style="float: right;vertical-align: bottom">
            <span style="color: #042940">New account? </span>
            <a routerLink="/signup" style="color: #0e72af"
               routerLinkActive="active">Sign up Today</a>
          </h5>
        </h2>

        <hr>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label class="col-12">Email</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-12">Password<a class="" style="float:right" routerLink="/forgot">Forgot Password?</a></label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </div>
          <div align="center">
            <re-captcha (captchaResponse)="handleCorrectCaptcha($event)"
                        site_key="6Ld-E4kUAAAAAAqjiARzvTQmau6PswN1V85EBjoE"></re-captcha>
          </div>
          <div class="form-group row justify-content-center align-items-center my-4">
            <button class="btn btn-outline-info my-2 my-sm-0">Log In</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
