
<div class="container">
  <div class="row" *ngIf="activated&&isLoggedIn">
    <div class="jumbotron col-md-6 offset-md-3">

      <div >
        <form (ngSubmit)="onSubmit()" #userForm="ngForm">

          <div class="row">
            <div class="col-md-8 offset-md-2">
              <h2 style="color: #307b52">
                Thank you for verifying!
              </h2>
              <hr>
            </div>

            <div class="col-md-8 offset-md-2">
              <label>Please choose a username to proceed</label>
            </div>
            <div class="col-md-8 offset-md-2 my-3" [class.has-error]="user_name.invalid && user_name.touched">
              <input type="text" class="form-control" name="username" required placeholder="User Name"
                     [(ngModel)]="username" #user_name="ngModel">

              <label  class="control-label" *ngIf="user_name.errors && user_name?.errors.required && user_name.touched">
                <i class="fa fa-times-circle-o"></i> Username is required
              </label>
            </div>
            <hr>
            <div class="col-md-8 offset-md-2 my-4 text-right">
              <button [disabled]=" userForm.invalid" type="submit"
                      class="btn btn-primary btn-submit my-2 my-sm-0 ">Select</button>

            </div>
          </div>

        </form>
      </div>
    </div>
  </div>

</div>
