<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper" [ngClass]="
    {
        'defaultdark': color == 'defaultdark',
        'mini-sidebar': showMinisidebar
    }
">
  <!-- ============================================================== -->
  <!-- Topbar header - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
      <!-- ============================================================== -->
      <!-- Logo -->
      <!-- ============================================================== -->
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html">
          <!-- Logo icon -->
          <b>
            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
            <!-- Dark Logo icon -->
            <img src="../../../assets/images/logo-icon1.png" alt="homepage" class="dark-logo" />

            <!-- Light Logo icon -->
            <img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo"/>

          </b>
          <!--End Logo icon -->
          <!-- Logo text -->
          <span>
                     <!-- dark Logo text -->
            <!--<img src="assets/images/logo-text.png" alt="homepage" class="dark-logo" />-->


            <!-- Light Logo text -->
            <!--<img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage" />-->
          </span>

        </a>


      </div>

      <!-- ============================================================== -->
      <!-- End Logo -->
      <!-- ============================================================== -->
      <!-- Menu Items-->

      <div class="navbar-collapse" id="navbarsExampleDefault" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
        <ul *ngIf="!isMobile"  class="navbar-nav mr-auto" >
          <li class="nav-item ">
            <a class="nav-link" routerLink="/starter">Home </a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/component/alert">Marketplace</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/component/carousel">Invite</a>
          </li>
        </ul>

        <form *ngIf="!isMobile&&!isLoggedIn" [formGroup]="registerForm" (ngSubmit)="login()"  class="form-inline pt-4  mb-2">
          <table>
            <tr>
              <td>
                <!--<input [ngModelOptions]="{standalone: true}" [(ngModel)]="credentials.username" class="col-12 form-control mr-sm-2" type="text" placeholder="Email" aria-label="Log In">-->
                <!--<div class="form-group">-->

                  <input placeholder="Email" type="text" formControlName="email" class="col-12 form-control mr-sm-2" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                  </div>
                <!--</div>-->

              </td>
              <td>
                <!--<input [ngModelOptions]="{standalone: true}" [(ngModel)]="credentials.password" class="col-12 form-control mr-sm-2" type="password" placeholder="Password" aria-label="Log In">-->
                <!--<div class="form-group">-->

                  <input placeholder="Password" type="password" formControlName="password" class="col-12 form-control mr-sm-2" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                  </div>
                <!--</div>-->
              </td>
              <td>
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Log In</button>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <a routerLink="/forgot">Forgot Password</a>
              </td>
              <td></td>
            </tr>
          </table>
        </form>

        <app-navigation  [ngClass]="isMobile?'w-100':''" (toggleSidebar)="toggleSidebar()"></app-navigation>
        <ngx-toasta></ngx-toasta>
      </div>

    </nav>
  </header>

  <!-- ============================================================== -->
  <!-- Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <aside *ngIf="isMobile" class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar" [perfectScrollbar]="config">
      <app-sidebar></app-sidebar>
    </div>
    <!-- End Sidebar scroll-->
  </aside>
  <!-- ============================================================== -->
  <!-- End Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div (mousedown)="hiddenSidebar()" class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <!--<app-breadcrumb></app-breadcrumb>-->
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <router-outlet></router-outlet>
      <!-- ============================================================== -->
      <!-- End Start Page Content -->
      <!-- ============================================================== -->

    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Page wrapper  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- footer -->
  <!-- ============================================================== -->
  <footer class="footer">
    © 2018 Admin Pro Angular
  </footer>
  <!-- ============================================================== -->
  <!-- End footer -->
  <!-- ============================================================== -->

</div>
